body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: linear-gradient(135deg, #6a11cb, #2575fc);
  color: white;
  direction: rtl;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#login-screen, #main-menu, #reading-menu, #add-sentence-menu {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  width: 300px;
}

h1 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #6a11cb;
}

h2 {
  font-size: 20px;
  margin-bottom: 20px;
  color: #333;
}

input, button {
  margin: 10px 0;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  border: none;
  border-radius: 5px;
}

input {
  background-color: #f0f0f0;
}

button {
  background-color: #6a11cb;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

button:hover {
  background-color: #2575fc;
  transform: scale(1.05);
}

button:active {
  transform: scale(0.95);
}

#sentence-box {
  margin: 20px auto;
  padding: 20px;
  background-color: #e0e0e0;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  height: 50px;
}

#sentence {
  position: absolute;
  white-space: nowrap;
  font-size: 20px;
  left: 100%;
  color: #333;
}

#speed-control {
  margin-top: 20px;
}

#speed-control label {
  color: red; /* رنگ قرمز برای متن سرعت حرکت جمله */
}

#error-message {
  color: red;
  display: none;
}